title: 'Set Volume'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      volume:
        title: 'Volume'
        type: 'integer'
        minimum: 0
        maximum: 100
        default: 0
    required: [
      'volume'
    ]
required: [
  'data'
]
